<div class="content content-archive">
  <%- partial("partials/page-header",{location: 'archive'}) %>
  <div class="archive-list">
      <ul class="list-post">
        <% var years =[];
           var postArr= [];
           var postLists = [];
           page.posts.each(function(post){
              var year = post.date.year();
              if(years.indexOf(year) < 0) {
                    years.push(year);
               }
              postArr.push(post);
           });

          years.forEach(function(item){
            var year_count = 0;
            var year_posts = [];
            postArr.filter(function(value){
              if(item === value.date.year()){
                   year_count ++ ;
                   year_posts.push(value);
              }
            });
            postLists.push({year: item, isYear: true, count: year_count});
            postLists = postLists.concat(year_posts);
          });
          postLists.forEach(function(post){
             var path =  post.isYear ? "item-year" : "item-post";
          %><%- partial('partials/' + path,{post: post} ) %><%
          });
        %>
      </ul>
  </div>

  <div>
    <%- partial("partials/pagination") %> 
  </div>
</div>
