<%- partial('partials/post-header')%>

<%- partial('partials/toc') %>

<div class="content content-post">
   <%- partial('partials/article', {post: page, index: false}) %>
</div>

<%- partial('partials/donation') %>

