<div class="content content-archive">
  <%- partial("partials/page-header",{location: 'tag'}) %>
  <% if (!page.tag){%>
  <div class="tag-list">
  <div class="tag-title">
    <%= __('title.tags')%>
  </div>
  <div class="tags">
  <% var tags = site.tags.sort('name');
       tags.each(function(tag,index){ console.log(tag); %>
       <a class="tag-item">
       <span class="tag-name"><%= tag.name %></span>
       <span class="tag-count"><%= tag.length%></span>
       </a>
      <% });
  %></div>
  </div>
  <%} else {%>
  <div class="archive-list">
  </div>
  <%}%>
</div>
