@import 'variables';

code {
  background: $article-code-bg; 
  border: 1px solid $article-code-border;
  font-size: 14px;
  margin: 0 3px;
  padding: 1px 3px;
  word-wrap: break-word;
}

pre,
.highlight {
  background: $pre-highlight-bg;
  color: $pre-highlight-color;
  line-height: 22.400000000000002px;
  margin: 10px 0;
  overflow: auto;
  padding: 10px;
}
