@import 'variables'; 

.home-content {
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: -1;

  h3 {
    color: $home-title;
  }

  .chip {
    cursor: pointer;

    a {
      background-color: transparent;
      box-shadow: none;
      color: $font-black;
      height: 36px;
      transition: background-color .2s;
      vertical-align: middle;
    }
  }

  .chip:hover {
    background-color: rgba(0, 0, 0, .1);
    box-shadow: none;
    cursor: pointer;
  }
}

.home-title-card {
  font-size: 1.25rem;
  font-weight: 400;
  left: 15%;
  position: absolute;
  top: 15%;
}

.home-nav {
  animation: txt5 1s;
  background: rgba(0, 0, 0, .5) none repeat scroll 0 0;
  padding: 1.3em 0 0 1.5em;
  position: absolute;
  right: 25%;
  top: 40%;
  width: 20%;
  will-change: transform;
}

.theme-footer {
  bottom: 10px;
  left: 0;
  padding-bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;

  .theme-link {
    color: rgba(0, 0, 0, .87);
  }
}

.content {
  border-left: 4px solid $content-border;
  margin: 50px auto 80px;
  width: 500px;
}

