$home-title: #fff;
$font-black: #343434;
$content-border: #f9f9f9;
$item-post-dot: #ddd;
$date-color: #888;
$title-color: #333;
$link-hover: #26a69a;
$year-text-color: #222;


$year-2: #ab47bc;
$year-1: #ec407a;
$year-0: #ffab91;
$year-5: #69f0ae;
$year-4: #84ffff;
$year-3: #2196f3;

$pagination-number: #444;
$pagination-background: #ddd;

$article-font-color: #555;
$article-header-color: #000;

// code && code block
$article-code-bg: #ddd;
$article-code-border: #ccc;
$pre-highlight-bg: #4d4d4d;
$pre-highlight-color: #4c4c4c;
