@import 'variables';

@media screen and (min-width: 768px) {
  .content-post {
    width: 760px;

    .article-header .post-title {
      font-size: 32px;
    }

  }
}

@media screen and (max-width: 767px) {
  .post-header {
    display: none;
  }

  .content-post {
    width: 100%;

    .article-content,
    .article-header {
      padding-left: 10px;
      padding-right: 10px;
    }

    .article-header .post-title {
      font-size: 24px;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .content-post {
    width: 95%;
  }
}

.content-post {
  margin: 100px auto;
}

