<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">reorder</i>
    </a>
    <ul>
      <% var cIcon = "airplay" %>
      <% theme.menu.forEach(function(item,i){ %> 
      <% if(item.icon) {cIcon = item.icon} %>
      <li>
        <a class="btn-floating tooltipped <%= item.color %>" data-position="top" data-delay="50" data-tooltip="<%= __('menu.' +item.name) %>" href="<%= item.url%>">
          <i class="material-icons"><%= cIcon %></i>
        </a>
      </li>
      
      <%}) %>
    </ul>
  </div>
