<div class="theme-footer">
  <% var current = date(Date.now(), "YYYY") %>
  &copy; 
  <span ><%= current %></span>
  <span class="author" ><%=  config.author %></span>
   | 
  <%= __('footer.theme') %> -
  <a class="theme-link" href="https://github.com/TRoam/roam-hexo-theme">
    Roam-Hexo-Theme 
  </a>
</div>
