<div class="page-header">

<div class="box-blog-info">
  <a class="avatar " href="/">
    <img class="circle responsive-img" src="<%= config.avatar %>" alt="" />
  </a>
  <div class="info">
    <h3 class="name black-text" style="font-family: <%= theme.blog_name_font_familiy || 'calligraffittiregular' %>">
      <%= config.title %>
    </h3>
    <div class="slogan grey-text">
      <%= config.subtitle  %>
    </div>
  </div>
</div>
</div>
